# Analiza i Przetwarzanie Danych

## Analiza danych dotyczących wypadków samochodowych w NY

In [38]:
import pandas as pd

import numpy as py

import matplotlib.pyplot as plt

import datetime as dt
from datetime import datetime

import geopandas as gpd

from shapely.geometry import Point

### Wczytujemy dane do analizy

In [39]:
motor_data = pd.read_csv("/Users/agata/Desktop/nypd-motor-vehicle-collisions.csv", low_memory=False, dtype={'third_column': 'str'})
motor_data.head(5)

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [40]:
# czyszczenie/przygotowanie danych
# usuwamy kolumny zawierające puste dane

motor_data.dropna(axis=1,how='all', subset=29, inplace=True)

In [41]:
# usuwamy wiersze zawierające puste dane

motor_data.dropna(axis=0,how='any', inplace=True)

In [42]:
# usuwamy duplikaty danych

motor_data.drop_duplicates(subset=None, keep=False, inplace=True, ignore_index=True)

In [43]:
# usuwamy kolumny, które nie są nam potrzebne do analizy danych do zadania

#motor_data = motor_data.drop(motor_data.columns[[1, 3, 4, 5, 6, 7, 8, 18, 19]], axis=1)
display(motor_data)

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,VEHICLE TYPE CODE 1
0,2019-11-26T00:00:00.000,0:00,BROOKLYN,11210,40.625843,-73.955370,"{'type': 'Point', 'coordinates': [-73.95537, 4...",AVENUE J,EAST 21 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,4247732,Sedan
1,2019-07-09T00:00:00.000,10:00,QUEENS,11426,40.724308,-73.724740,"{'type': 'Point', 'coordinates': [-73.72474, 4...",CROSS ISLAND PARKWAY,JAMAICA AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,4166943,Station Wagon/Sport Utility Vehicle
2,2019-06-15T00:00:00.000,2:00,MANHATTAN,10019,40.766560,-73.990430,"{'type': 'Point', 'coordinates': [-73.99043, 4...",WEST 53 STREET,10 AVENUE,0.0,0.0,0,0,0,0,0,0,Following Too Closely,4151911,Sedan
3,2019-06-12T00:00:00.000,11:00,QUEENS,11385,40.704742,-73.860160,"{'type': 'Point', 'coordinates': [-73.86016, 4...",UNION TURNPIKE,88 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,4150121,Sedan
4,2019-06-15T00:00:00.000,1:41,MANHATTAN,10035,40.805637,-73.934400,"{'type': 'Point', 'coordinates': [-73.9344, 40...",EAST 128 STREET,3 AVENUE,1.0,0.0,0,0,0,0,1,0,Unsafe Speed,4152120,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441756,2012-07-01T00:00:00.000,9:57,MANHATTAN,10065,40.765242,-73.957868,"{'type': 'Point', 'coordinates': [-73.9578679,...",1 AVENUE,EAST 68 STREET,0.0,0.0,0,0,0,0,0,0,Other Vehicular,44907,PASSENGER VEHICLE
441757,2012-07-20T00:00:00.000,13:06,BROOKLYN,11214,40.606896,-74.006623,"{'type': 'Point', 'coordinates': [-74.006623, ...",17 AVENUE,BENSON AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,121562,PASSENGER VEHICLE
441758,2012-07-17T00:00:00.000,13:00,QUEENS,11419,40.687951,-73.825010,"{'type': 'Point', 'coordinates': [-73.8250104,...",LEFFERTS BOULEVARD,103 AVENUE,0.0,0.0,0,0,0,0,0,0,Lost Consciousness,228073,SPORT UTILITY / STATION WAGON
441759,2012-07-19T00:00:00.000,21:00,QUEENS,11385,40.707471,-73.910063,"{'type': 'Point', 'coordinates': [-73.910063, ...",GREENE AVENUE,WOODWARD AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,213366,PASSENGER VEHICLE
441760,2012-07-11T00:00:00.000,15:42,BROOKLYN,11210,40.614136,-73.948346,"{'type': 'Point', 'coordinates': [-73.9483464,...",AVENUE O,EAST 26 STREET,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,147655,SPORT UTILITY / STATION WAGON

# 1. Określić najniebezpieczniejsze czynniki wypadków w danej dzielnicy NY
Wybrana dzielnica QUEENS

In [44]:
# przefiltrowanie danych tylko dla wybranej dzielnicy

motor_queens= motor_data[motor_data['BOROUGH'].str.contains('QUEENS', na=False)]
motor_queens

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,VEHICLE TYPE CODE 1
1,2019-07-09T00:00:00.000,10:00,QUEENS,11426,40.724308,-73.724740,"{'type': 'Point', 'coordinates': [-73.72474, 4...",CROSS ISLAND PARKWAY,JAMAICA AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,4166943,Station Wagon/Sport Utility Vehicle
3,2019-06-12T00:00:00.000,11:00,QUEENS,11385,40.704742,-73.860160,"{'type': 'Point', 'coordinates': [-73.86016, 4...",UNION TURNPIKE,88 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,4150121,Sedan
5,2019-06-16T00:00:00.000,18:45,QUEENS,11374,40.716590,-73.861840,"{'type': 'Point', 'coordinates': [-73.86184, 4...",WOODHAVEN BOULEVARD,67 ROAD,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4152874,Taxi
6,2019-07-29T00:00:00.000,12:00,QUEENS,11106,40.766666,-73.930400,"{'type': 'Point', 'coordinates': [-73.9304, 40...",21 STREET,31 ROAD,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4180976,Sedan
9,2019-06-08T00:00:00.000,14:48,QUEENS,11385,40.705032,-73.909000,"{'type': 'Point', 'coordinates': [-73.909, 40....",ONDERDONK AVENUE,GROVE STREET,1.0,0.0,1,0,0,0,0,0,Unspecified,4147708,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441750,2012-07-27T00:00:00.000,21:08,QUEENS,11373,40.739396,-73.877918,"{'type': 'Point', 'coordinates': [-73.8779179,...",BROADWAY,CORONA AVENUE,0.0,0.0,0,0,0,0,0,0,Lost Consciousness,255175,PASSENGER VEHICLE
441754,2012-07-01T00:00:00.000,9:50,QUEENS,11001,40.736245,-73.702966,"{'type': 'Point', 'coordinates': [-73.7029656,...",265 STREET,85 AVENUE,0.0,0.0,0,0,0,0,0,0,View Obstructed/Limited,219395,PASSENGER VEHICLE
441755,2012-07-01T00:00:00.000,9:40,QUEENS,11354,40.764455,-73.831773,"{'type': 'Point', 'coordinates': [-73.831773, ...",35 AVENUE,FARRINGTON STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,245559,PASSENGER VEHICLE
441758,2012-07-17T00:00:00.000,13:00,QUEENS,11419,40.687951,-73.825010,"{'type': 'Point', 'coordinates': [-73.8250104,...",LEFFERTS BOULEVARD,103 AVENUE,0.0,0.0,0,0,0,0,0,0,Lost Consciousness,228073,SPORT UTILITY / STATION WAGON
441759,2012-07-19T00:00:00.000,21:00,QUEENS,11385,40.707471,-73.910063,"{'type': 'Point', 'coordinates': [-73.910063, ...",GREENE AVENUE,WOODWARD AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,213366,PASSENGER VEHICLE

## ODPOWIEDŹ: Wyświetlamy najniebezpieczniejsze przyczyny wypadków w wybranej dzielnicy w kolejności od najczęściej występującej

In [45]:
# grupujemy i wyświetlamy przyczyny wypadków

groupped = motor_queens.groupby('BOROUGH')['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().nlargest(5)
groupped

BOROUGH  CONTRIBUTING FACTOR VEHICLE 1
QUEENS   Unspecified                       45971
         Driver Inattention/Distraction    24400
         Failure to Yield Right-of-Way     11211
         Backing Unsafely                   4469
         Following Too Closely              4159
Name: count, dtype: int64

# 2.A Dowiedzieć się, ile zgonów oraz obrażeń zostało spowodowanych przez szybką jazdę ogólnie

In [46]:
# filtrujemy dane, szukając tego co nas interesuje

motor_fast = motor_data[motor_data['CONTRIBUTING FACTOR VEHICLE 1'].str.contains('Speed', na=False)].sum()

## ODPOWIEDŹ: Przez szybką jazdę zostało spowodowanych 3471 zgonów i obrażeń

In [47]:
# sumujemy dane z konkretnych kolumn

motor_fast['Total'] = motor_fast['NUMBER OF PERSONS INJURED'] + motor_fast['NUMBER OF PEDESTRIANS INJURED'] + motor_fast['NUMBER OF CYCLIST INJURED'] + motor_fast['NUMBER OF MOTORIST INJURED'] + motor_fast['NUMBER OF PERSONS KILLED'] + motor_fast['NUMBER OF PEDESTRIANS KILLED'] + motor_fast['NUMBER OF CYCLIST KILLED'] + motor_fast['NUMBER OF MOTORIST KILLED']
display(motor_fast['Total'])

3471.0

# 2.B Dowiedzieć się, ile zgonów oraz obrażeń zostało spowodowanych przez szybką jazdę w wybranej dzielnicy Queens

In [ ]:
# filtrujemy dane przez interesujące nas wartości

motor_fast_queens = motor_data[motor_data['BOROUGH'].str.contains('QUEENS', na=False)].sum()

In [ ]:
motor_fast_queens = motor_data[(motor_data['CONTRIBUTING FACTOR VEHICLE 1'].str.contains('Unsafe Speed', na=True, regex=False, case=False)) & (motor_data['BOROUGH'].str.contains('QUEENS', na=True, regex=False, case=False))].sum()

## ODPOWIEDŹ: Przez szybką jazdę w dzielnicy Queens zostało spowodowanych 1035 zgonów i obrażeń

In [ ]:
# sumujemy konkretne kolumny w celu otrzymania wyniku

motor_fast_queens['Total'] = motor_fast_queens['NUMBER OF PERSONS INJURED'] + motor_fast_queens['NUMBER OF PEDESTRIANS INJURED'] + motor_fast_queens['NUMBER OF CYCLIST INJURED'] + motor_fast_queens['NUMBER OF MOTORIST INJURED'] + motor_fast_queens['NUMBER OF PERSONS KILLED'] + motor_fast_queens['NUMBER OF PEDESTRIANS KILLED'] + motor_fast_queens['NUMBER OF CYCLIST KILLED'] + motor_fast_queens['NUMBER OF MOTORIST KILLED']
display(motor_fast_queens['Total'])

# 3. Określić top 5 najniebezpieczniejszych czynników wypadków

## ODPOWIEDŹ: TOP 5 najniebezpieczniejszych czynników danych wg ilości ich występowania

In [ ]:
# wyszukujemy i zliczamy interesujące nas dane

groupped = motor_data.value_counts('CONTRIBUTING FACTOR VEHICLE 1').nlargest(5)
groupped

# 4. Wygenerować wizualizację określającą ilość wypadków z podziałem na dni tygodnia

In [ ]:
# wybieramy interesującą nas kolumnę z danymi

motor_data['ACCIDENT DATE']

#konwertujemy argumenty na datatime

motor_data['ACCIDENT DATE'] = pd.to_datetime(motor_data['ACCIDENT DATE'])

# zmieniamy format daty dd/mm/rr

motor_data['formatted_date'] = motor_data['ACCIDENT DATE'].dt.strftime('%d/%m/%Y %H:%M:%S')

# przypisujemy do daty dni tygodnia

motor_data['DAY OF WEEK'] = motor_data['ACCIDENT DATE'].dt.day_name()

# zliczamy dni tygodnia

day_counts = motor_data['DAY OF WEEK'].value_counts()
display(day_counts)

## odpowiedź: wykres

In [ ]:
# generujemy wizualizację

day_counts.plot(kind='bar')
plt.title('Number of accidents by day of the week')
plt.xlabel('Day of week')
plt.ylabel('Number of accidents')

plt.show()

## ZADANIE DODATKOWE: 

#### Wygeneruj mapę z miejscami wypadków w danej dzielnicy.

In [ ]:
motor_queens= motor_data[motor_data['BOROUGH'].str.contains('QUEENS', na=False)]

groupped = motor_queens.value_counts('LATITUDE').nlargest(9)
groupped1 = motor_queens.value_counts('LONGITUDE').nlargest(9)

display(groupped)
display(groupped1)

In [ ]:
data_dict = {'x': {0: -73.870350, 1: -73.870369, 2: -73.822250, 3: -73.767360, 4: -73.937386, 5: -73.773828, 6: -73.757110, 7: -73.834656, 8: -73.887560},
 'y': {0: 40.733536, 1: 40.733497, 2: 40.665257, 3: 40.656160, 4:40.748924, 5: 40.666120, 6: 40.659651, 7: 40.684240, 8: 40.76229040}}

df = pd.DataFrame(data_dict)

geometry = [Point(xy) for xy in zip(df['x'], df['y'])]
gdf = gpd.GeoDataFrame(df, geometry=geometry, crs=4326)
print(gdf.head())
print(gdf.dtypes)
gdf.explore()